._*
*~
.fuse*
mybic.db
.apdisk
apache.conf
!bin/r.js
build
*.class
*.dir_bash_history
dist
.DS_Store
*.egg
*.egg-info
.idea
local_settings.py
logs
mybic.db
node_modules
pip-log.txt
*.py?
*.py[co]
.sass-cache
sdist
settings
_site/media
_site/static
_site/protected
*.sock
*.sw?
*.swp
.vagrant
.watch-pid
whoosh.index
mybic/labs/templates/
