._*
*~
.apdisk
apache.conf
!bin/r.js
build
*.class
*.dir_bash_history
dist
.DS_Store
*.egg
*.egg-info
.idea
local_settings.py
logs
MANIFEST
mybic/build
mybic_conn.properties
mybic/.coverage
mybic.db
!mybic/static/cilantro/js/**/*.js
mybic/static/expedat
mybic/static/pedigree_files
mybic/static/scripts/javascript/min
mybic/static/stylesheets/css
mybic/static/stylesheets/css/*.css
!mybic/static/stylesheets/img
!mybic/static/vocabulary/js/**/*.js
!mybic/templates/_cilantro.js
node_modules
pip-log.txt
*.py?
*.py[co]
.sass-cache
sdist
settings
_site/media
_site/static
_site/protected
*.sock
*.sw?
*.swp
.vagrant
.watch-pid
whoosh.index
mybic/labs/templates/
