include requirements.txt
include wsgi.py
include bin/manage.py
include Makefile

graft _site
graft server

global-exclude .DS_Store

exclude mybic/static/scripts/javascript/app.build.js
exclude mybic/static/scripts/javascript/min/build.txt
exclude mybic/conf/local_settings.py

prune _site/static
prune mybic/static/scripts/coffeescript
prune mybic/static/stylesheets/scss
prune tests
