# Core requirements
django>=1.5,<1.6
South
uWSGI
# Fabric

# Database Drivers, the Python stdlib has support for SQLite
psycopg2
# cx_oracle
# mysql-python

python-ldap>=2.3.12,<2.4
docutils
git+git://github.com/sgenoud/remarkdown.git

markdown==2.1.1
django-siteauth
django-registration2

# News
git+git://github.com/cbmi/django-news.git#egg=django-news

# Permissions
django-guardian==1.0.4




http://github.research.chop.edu/cbmi/django-chopauth/archive/master.tar.gz
