# Core requirements
django>=1.6,<1.7
South
uWSGI
# Fabric

# Database Drivers, the Python stdlib has support for SQLite
psycopg2
# cx_oracle
# mysql-python

python-ldap>=2.3.12,<2.4
docutils
git+git://github.com/sgenoud/remarkdown.git

mistune

django-siteauth
django-registration2

#database templates
git+git://github.com/jezdez/django-dbtemplates.git@b371cc6518fbc0389898271e77f1b9962ea38391

#search
pysolr<=3.2.99
django-haystack

# News

git+git://github.com/leipzig/django-news.git#egg=django-news

# Permissions
django-guardian==1.0.4

#tracking
django-tracking2


http://github.research.chop.edu/cbmi/django-chopauth/archive/master.tar.gz
