{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="container">	
    <form method="post" action="{% url "login" %}" class="form-signin" role="form">
		<h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">		
		<input id="id_username" name="username" type="text" class="form-control" placeholder="Active Directory Username" required autofocus/>
		<input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required/>
		
		
        <p class=muted>Forgot your password? <a href="http://pwreset.chop.edu">Reset it</a></p>

		 <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
	    </div> <!-- /container -->
{% endblock %}