{% load humanize %}
{% block header %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="{{STATIC_URL}}/favicon.ico"/>
	<style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>

    <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>


 	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



    <script src="{{ STATIC_URL }}/scripts/javascript/src/kerning.js"></script>

    <script src="{{ STATIC_URL }}/scripts/javascript/src/mybic.js">

	<!-- here we apply the default bootstrap .table class to all tables -->
	<script type="text/javascript">
	$(function() {
	  $( "table" ).addClass( "table" );
	});
	</script>

	<link rel="stylesheet" href="{{ CSS_URL }}/mybic.css" >
	<link rel="stylesheet" href="{{ CSS_URL }}/fa.css" >

	<link rel="stylesheet" href="{{ CSS_URL }}/sticky-footer-navbar.css">
	{% block styles %}{% endblock %}
</head>

<body>
<!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><div id="myBiC-logo">myBiC</div></a>{{ DEVELOPMENT }}
        </div>


        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% load url from future %}
                {% load current from navigation %}
                {%  if my_lab %}
                    <li class="active"><a href="{% url 'my_lab_url' my_lab.slug %}">{{ my_lab.name }}</a>
                {% endif %}
                {%  if my_project %}
                    <li class="active"><a href="{% url 'my_project_url' my_lab.slug my_project.slug %}">{{ my_project.name }}</a>
                {% endif %}
                {%  if my_child %}
                    <li class="active"><a href="{% url 'my_child_url' my_lab.slug my_project.slug my_child %}">{{ my_child }}</a>
                {% endif %}
            </ul>

            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_staff %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                             {%  if my_project %}
                                <li><a id="ajax-this-link" href="{% url 'update_project_url' my_lab.slug my_project.slug %}">Refresh project</a></li>

                                <li><a href="{% url 'admin:labs_project_change' my_project.id %}">Project admin</a></li>

                                <li><a href="{% url 'project_logs' my_lab.slug my_project.slug %}">Project logs</a></li>
                             {% endif %}
                             {% if my_lab %}
                                <li><a href="{% url 'admin:labs_lab_change' my_lab.id %}">Lab admin</a></li>
                             {% endif %}
                              <li><a href="{% url 'admin:index' %}">Site admin</a></li>
                              {% if request.session and 'masquerade' in request.session and request.session.masquerade == True %}
                               <li><a href="{% url 'toggle_url' %}">View as admin</a></li>
                               {% else %}
                               <li><a href="{% url 'toggle_url' %}">View as user</a></li>
                               {% endif %}
                        </ul>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="dropdown-header">Your groups</li>
                        {% for my_group in my_groups %}
                            <li><a href="#">{{ my_group }}</a></li>
                        {% endfor %}
                        {% if my_lab %}
                        <li role="presentation" class="dropdown-header">This lab group</li>
                        <li><a href="#">{{ my_lab.group }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div>
    </nav>

<div class="container">
    {%  if my_project %}
        <div class="pull-right" style="text-align:right"><small>Analyst: {{ my_project.owner.first_name }} {{ my_project.owner.last_name }}<br/>Modified: {{ my_project.modified|naturaltime }}</small></div>
    {% endif %}
    {% block content %}{% endblock %}
</div>


{% block footer %} {% include "_footer.html" %}{% endblock %}
<script>
    var
    // Used for non-safe requests
            CSRF_TOKEN = '{{ csrf_token }}',

    // Can be used for prefixing URLs defined in JavaScript files
            SCRIPT_NAME = '{{ request.META.SCRIPT_NAME }}',

    // RequireJS configuration
            require = {
                shim: {
                    underscore: {
                        exports: '_'
                    },
                    backbone: {
                        deps: ['underscore', 'jquery'],
                        exports: 'Backbone'
                    },
                    bootstrap: ['jquery']
                }
            };
</script>

<!-- Uncomment the below script tag to load RequireJS and load main.js -->
<!-- <script data-main=main src="{{ JAVASCRIPT_URL }}/require.js"></script> -->

{% if not debug %}
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
        mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endif %}
</body>
</html>
