{% extends "base.html" %}
{% load project_tags %}
{% load humanize %}
{% block styles %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% if entries %}
    <div class="landing-target-title">
        <h1 id="overview" class="page-header"><img src="/static/images/rss.png"> {{ my_lab.name }} News</h1>
    </div>

    <div id="news">
        {% for entry in entries %}
            <article class="entry">


                <header id="{{ entry.slug }}">
                    <span class="date-block">
                        <span class="month">{{ entry.created|date:"j" }}</span>
                        {{ entry.created|date:"M Y" }}
                    </span>
                    <h3>{{ entry.title }}</h3>
                </header>
                <div class="body">
                    {{ entry.formatted_body|safe }}
                </div>

            </article>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div id="project">
        <h2 id="overview" class="page-header"><img src="/static/images/iconmonstr-layer-19-icon-32.png"> {{ my_lab }} Projects</h2>
        <ul>
        {% for my_project in my_projects %}
        <li><a data-toggle="tooltip" data-placement="left" title="modified {{ my_project.modified|naturaltime }}" href="{% url 'my_project_url' my_lab.slug my_project.slug %}">{{ my_project.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
